<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal-body">
    <p>Moving on, this library management system project in Python Django focuses mainly on dealing with adding books
        and records. Also, the system displays all the books . In addition, the system allows managing books by entering
        a name, author, date, and category. This project is based on Admin Panel.</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

</div>

</body>
</html>