<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Footer -->
<footer style="margin-top: calc(5% + 0.5px);" >

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.906); color: aliceblue;">
      © 2020 Copyright:
      <a class="text-white" href="/index/">
       Hospital Management System</a>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.888); color: aliceblue; text-align: center;">
      <a role="button"   href="/index/" style=" color:aliceblue;">
        Home
      </a>&nbsp |
  <a role="button"  data-toggle="modal" href="#exampleModal" style=" color:aliceblue;">
    About
  </a>
  &nbsp |
  <a    href="#" style=" color:aliceblue;">
    JBK
  </a>
  &nbsp |
  <a    href="/logout/" style=" color:aliceblue;">
    Logout
  </a>
    </div>
    <!-- Copyright -->
  </footer>
</body>
</html>